<!DOCTYPE html>
<html>
    <head>
        <title>Your profile Business</title>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="spreadsheets/style.css">
        
    </head>
    <body>
        <div class="c-container js-question-screen"></div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
        <script src="javascript/app.js"></script>

        <script id='q-and-a' type='text/html'>
            <div class="js-question c-q-container"> <%= question %></div>
            <div class="u-separete"></div>
            <% for (let index = 0; index < answers.length; index++) { %>
                <a href="#" class="js-answer c-a-container" data-option-answer="<%= answers[index].id %>">
                    <span class="c-letter"><%= answers[index].id %></span>
                    <span class="c-text"><%= answers[index].text %></span>
                </a>
            <% }; %>

            <img src="images/logo.svg" class='c-small-logo'/>  
        </script>
        <script id='button-analisis' type='text/html'>
            <a href="#" class="c-button-circle u-lines" id="show-profile">DESCUBRIR</a> 
            <img src="images/logo.svg" class='c-small-logo'/>  
        </script>
        <script id='gender-selector' type='text/html'>
            <img src="images/logo.svg" class='c-big-logo'/>  
            <a href="#" class="c-button-start js-gender-selector"  style="margin-top: 27vh;" data-gender="F">Mujer</a> 
            <a href="#" class="c-button-start js-gender-selector"  data-gender="M">Hombre</a> 
        </script>

        <script id='profile-template' type='text/html'>
            <a href="#" id="finish">
                <div class='img-container'>
                    <div class='u-lines' style="margin-bottom: 5vh;">
                        <img class="c-img-profile " src="images/<%= profile.image %>"/>
                    </div>
                    <div class="c-name-profile"><%= profile.name %></div>
                    <div class="c-description-profile"><%= profile.description %></div>
                </div>
           </a> 
           <img src="images/logo.svg" class='c-small-logo'/>  
        </script>

        <script id='start-template' type='text/html'>
            <img src="images/logo.svg" class='c-big-logo'/>   
            <h1 class='u-header-1'>CONOCÉ <br/> QUÉ CLASE<br/> DE LÍDER<br/> SOS</h1>       
             <a href="#" class="c-button-start" id="start">Comenzar</a> 
        </script>

    </body>
</html>